
@import '../../../style/index.styl';

.rotate-enter {
  transform: rotate(-180deg);
}

.rotate-leave-to, .rotate-leave-active {
  display: none;
}

.rotate-enter-active {
  transition: all 0.3s ease-in-out;
  // transform rotate(180deg)
}

.interface-header {
  // margin-bottom 16px
  background-color: light;

  h2 {
    font-family: OpenSans;
  }

  span {
    font-family: Calibri;
    color: slategray;
  }

  h2, div {
    display: inline-block;
    vertical-align: middle;
  }

  .interface-header-wrapper {
    background-color: light;
    border-radius: 0 1rem 0 0;
    width: 100%;
    padding: 16px;
    display: inline-flex;
    margin-left: 3%;
  }
}

.interface-body {
  background-color: content-theme();
  // padding 4px
  border-radius: 8px;
  color: color-theme(true);
  width: 100% !important;

  .interface-header {
    span {
      font-size: 21px;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        color: primary;
      }
    }

    .actived {
      color: primary;
    }

    i {
      font-size: 28px;
      vertical-align: sub;
    }

    .v-separator {
      // border 1px solid secondary
      background-color: slategray !important;
      display: inline-block;
      width: 1px;
      height: 25px;
      margin: 0 8px;
      cursor: default;
    }
  }

  .slot-content {
    border-radius: 0 0 1rem 1rem;
    background-color: light;
    padding: 0 16px 16px 16px;
  }

  .select {
    width: auto;
    margin-left: 8px;
  }

  .custom-select {
    background-color: transparentify;
    color: slategray !important;
  }
}

.interface-left {
  float: left;
  width: 100%;
  margin-left: 7%;
  display: inline-flex;
}