
@import '../../../style/index.styl';

.title {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 3%;
  width: 100% !important;

  .title-btn {
    margin-left: auto;
    background-color: dark;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;

    &:hover {
      background-color: alpha(secondary, 0.8);
    }

    span, .icon-btn {
      vertical-align: middle;
      no-select();
    }
  }
}